#Author is GrammerPR
#Date Created:4/28/2022
#Course: ITT103
#The purpose of this program is to calculate and print the commission received by a sales person.

#Define the variable
Sale=3500
#Using the elif statement to find the output value 
if Sale<=1000:
#Display the result
    print('rate is 6%')
elif Sale>1000 and Sale<2000:
#Diplay the result
    print('rate is 7%')
else:
#Display the result
    print('rate is 10%')
    
#Using the if else statement to run the code
if Sale<1000:
#Dsplay the result
    print('rate is 4%')
#The else is used to make the decision
else:
#Display the result
    print('rate is 6%')
    
#To add a given value to a variable
if Sale<=3500:
    print('rate is 4.5%')
    
#To print an appropriate error message
if Sale>4000:
#Display the result
    print('this is an error')
    
#To find the salesperson that has a commission
s=1
while s<10:
#Display the result
    print(s)
    if s==6:
#The break function is used to end the program even if it is true
      break
    s +=1
    
= RESTART: C:/Users/gabbi/OneDrive/Documents/Gordon.Gabrielle-PythonCode-ITT103-S2022.py
rate is 10%
rate is 6%
rate is 4.5%
1
2
3
4
5
6
